.texthead{
    color: #283618;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
    margin-top: 1.3rem;
    align-items: center;
}
.mainclass{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}