.mainbase{
    background-color: #eff6e0;
}
.base{
    color: black;   
    background-color: #eff6e0;
    margin-left: 17vw;
    padding-left: 1.5vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
}