*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    }
    .body{
    color: #283618;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    }
    .head{
      /* width: 50%; */
      white-space: nowrap;
      margin-right: 0;
      margin-top: 1%;
      margin-left: 1%;
      transition: 1.3s ease;
    }
    
    
    .title{
      height: 10vh;
      margin-top: -0.3rem;
      margin-right: 2rem;
      margin-left: 2rem;
      border-radius: 3rem;
      cursor: pointer;
      transition: 0.8s ease ;
    }
    .container{
      display: flex;
      background-color: #eff6e0;
      height: 13vh;
      width: 100vw; 
      margin: 0px;
      position: sticky;
      top: 0;
    }
    
    .navbar {
      list-style: none;
      padding: 0;
      margin-top: 3.5%;
      margin-right: 3rem;
      height: 100%;
      background-color: transparent;
      /* width: 50.5vw; */
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: -1;
    }
    
    
    .navbar li {
      padding-left: 10px;
      width: 12.5vw;
    }
    
    .navbar li a {
      text-decoration:none;
      color: #283618;
      font-size: 1.3rem;
      white-space:nowrap; 
      display: flex;
      transition: background-color 0.8s, color 0.8s;
      border-radius: 0.4rem;
      padding: 0.5rem 0.8rem;
      font-weight: 600;
      justify-content: center;
      transition: 0.3s ease ;
      margin-right: 0.5rem;
    } 
    .navbar li a:hover {
      background-color: #283618; 
      color: #fefae0; 
      border-radius: 0.4rem;
      font-weight: 600;
      font-size: 1.3rem;
    }
    
    .navbar li.active a {
      color: #eff6e0;
      background-color: #283618;
      border-radius: 0.4rem;
      font-weight: 600;
      font-size: 1.3rem;
    }
    
    
    .search-bar {
      /* margin-left: 22vw; */
      margin-right: 0%;
      /* width: 99%; */
      display: flex;
      align-items:center; 
    }
    .search{
      
      color: #283618;
      width: 3rem;
    }
    .inputser {
      width: 20.5rem; 
      padding: 2.5%;
      margin: -3%; 
      border: 3px solid #283618;
      border-radius: 5px;
    }
    
    .search1 {
      /* padding: 2%; */
      width: 4vw;
      padding-left: 1rem;
      margin-left: 1rem;
      padding-top: 2.2%;
      cursor: pointer;
      font-size: 1.8rem;
      
      
    }
    .dropdown{
      width: 3vw;
      height: 5vh;
      font-size: 2rem;
      display: flex;
      margin-left: 1rem;
      align-items: center;
      justify-content: center;
    }
    .dropdown-logout-logo{
      width: 100%;
      height: 100%;
      font-size: 2.8rem;
      margin-left: -3rem;
    }
    .dropdown-content{
      font-size: 0.8rem;
      margin-top: 0rem;
      margin-left: -2rem;
      font-weight: 600;
      padding: 0.5rem;
    }
    .dropdown-button{
      margin-right: -2rem;
      cursor: pointer;
      padding: 0.5rem;
      font-weight: 600;
      font-size: 1rem;
      border-radius: 0.4rem;
    }