/* plant_nutrition.css */

.butcontain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
}
  
.plantbut{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: none;
    border-radius: 0.3rem;
    border: 0.1rem solid #283618;
    background-color: #eff6e0;
    color: #283618;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s;
    /* font-family:; */
}
.fert{
    margin-bottom: 5rem;
}
  
.plantbut:hover {
    background-color: #283618;
    color: #eff6e0;
}
/* .present{
    width: 80vw;
} */

  