/* plant_nutrition.css */

.butcontain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    flex-direction: column;
}
.something{
    display: flex;
    gap: 2rem;
}
.plantbut{
    flex-direction: column;
    color: #283618;
    border: 2px solid #283618;
    padding: 13px 25px;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.1s ease;
    font-weight: bolder;
}
.fert{
    margin-bottom: 5rem;
}
  
.plantbut:hover {
    background-color: #283618;
    color: #eff6e0;
}
/* .present{
    width: 80vw;
} */

  