.full{
    background-color: #eff6e0;
    height: 60vh;
    display: flex;
    align-items: center;
    margin-top: 4rem;
    justify-content: center;
}

.page {
  width: 40%;
  position: fixed;
  margin-bottom: 2rem;
  padding: 2rem;
  padding-top: 3rem;
  border: 0.1rem solid #283618;
  border-radius: 0.5rem;
  background-color: #eff6e0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  text-align: center;

}



.input1 {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  border: none;
  border-bottom: 0.02rem solid #283618;
 
  box-sizing: border-box;
}
.input1::placeholder{
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
}


.regbutton {
  background-color: #eff6e0;
  color: #283618;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #283618;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.5rem;
  transition: background-color 0.5s, color 0.5s;
}

.regbutton:hover {
  
  font-weight: 600;
  background-color: #283618;
  color: #eff6e0;
  padding: 0.8rem 1rem;
}

.name-input, .password-input {
  display: flex;
}

